header {
    .header-cont {
        .social-icons {
            li:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}


.works {
    background: #054c74;
    color: #ffffff;
    .ourWorks {
        width: 100%;
        // height: 20rem;
        .swiper-wrapper {
            -webkit-transition-timing-function:linear!important;
            -o-transition-timing-function:linear!important;
            transition-timing-function:linear!important;
        }
    }
}

