/* @import "../fonts/fontawesome-free-6.5.2/css/all.min.css"; */
html, body {
  scroll-behavior: smooth;
}
header .header-cont .social-icons li:not(:last-child) {
    margin-right: 1rem;
}
header .social-icons li a {
    /* background: #132a36; */
    /* color: #f3f3f3; */
    background: #ebebeb;
    border: 1px solid #dfdfdf;
    color: #0086b8;
    padding: 0.2rem 0.9rem;
    border-radius: 50px;
    transition: all .2s ease
}

header .social-icons li a:hover, 
header .social-icons li a:focus, 
header .social-icons li a:active {
    background: #d8682b;
    border: 1px solid #d8682b;
    color: #fff;
}

.banner {
    padding-bottom: 4rem;
}
section:not(.banner){
    padding-block: 6rem;
}

.imgWrapper {
  box-shadow: -222px 0 0 25px #ffffff, 11px 0 0 25px #c9c9c9;
}

.margin-negetive {
  margin-top: 1rem;
  margin-left: -7rem;
}
.sec-title {
  padding-left: 3rem;
  line-height: 1.3;
  text-transform: uppercase;
}
.sec-title span.bg-dark {
  margin-left: -3rem;
  background-color: #132a36;
  color: #ffffff;
  padding-inline: 1rem;
}
.sec-title span.bg-light {
  margin-left: -3rem;
  color: #132a36;
  padding-inline: 1rem;
}



.works {
    /* background: #054c74; */
    background: #132a36;
    color: #fff;
}
.works .ourWorks1,
.works .ourWorks2 {
    width: 100%;
    transform: skewX(-14deg);
}
.works .ourWorks1 .swiper-wrapper,
.works .ourWorks2 .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}
.works .ourWorks1 .mediaContent,
.works .ourWorks2 .mediaContent {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.4rem 1rem;
    background: linear-gradient(0deg, black, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.works .ourWorks1 .mediaContent a,
.works .ourWorks2 .mediaContent a {
    color: #fff;
}
.works .ourWorks1 .mediaWrapper,
.works .ourWorks2 .mediaWrapper {
  transform: skewX(14deg) scale(1.2);
}


ul.listTech {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
ul.listTech .listTech-item {
    flex: 0 0 auto;
    max-width: calc(50% - 1rem);
    padding: 1.5rem;
    background: #f3f3f3;
}

.clients {
  /* background: #0086b9; */
  }
.clients .ourClients .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}



.clintList, 
.clintList-2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 5500px;
    gap: 2rem;
    flex-wrap: nowrap;
}
.clintList .clientList-item, 
.clintList-2 .clientList-item {
    flex: 1 0 auto;
}
.clintList li img, 
.clintList-2 li img {
    height: 12rem;
    width: 12rem;
    object-fit: contain;
}



.bottomBan-area {
    position: relative;
    overflow-x: hidden;
    background: #f3f3f359;
    border-top: 1px solid #f7f7f7;
    z-index: 1;
}
.bottomBan-area:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    background: #132a36;
    z-index: -1;
}
.bottomBan-area .negBtmImg {
    box-shadow: 0 15px 20px -15px #ffffff3d;
    border-radius: 7px;
}
footer.footer {
    background: #132a36;
    color: #f3f3f3;
    padding-block: 3rem;
}
footer.footer .footerTop {
  padding-bottom: 4.5rem;
}
.footerTop .orgList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.footerTop .orgList .orgList-item {
  padding: 0.8rem;
  flex: 0 0 calc(20.33% - 1rem);
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.footer .linkList {
    padding: 0;
    margin: 0;
    list-style: none;
}
footer.footer .linkList .linkList-item a {
    text-decoration: none;
    font-size: 0.98rem;
    color: #f3f3f3;
    transition: all .5s ease;
}
footer.footer .linkList .linkList-item:not(:last-child) {
    margin-bottom: 0.4rem;
}
footer.footer .linkList .linkList-item a:hover {
    color: #e65100;
}






.gallery h1 {
	/* font-size:clamp(2em, 4vw, 6em); */
}

.gallery p {
	/* font-size:clamp(1.4em, 2.5vw, 3.5em);
	line-height:1.4; */
}


.gallery {
  display:flex;	
  /* outline:1px solid red; */
}

.left {
	width:50%;
}

.right {
	height:100vh;
	/* outline:1px solid purple; */
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.desktopContent {
	margin:auto;
	width:80%;
}

.desktopContentSection {
	min-height:100vh;
	/* outline:1px solid green; */
	display:flex;
	flex-direction:column;
	justify-content:center;
}


.desktopPhotos {
	width:40vw;
	height:40vw;
	/* border-radius:20px; */
	position:relative;
	overflow:hidden;
	/* box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4); */
}

.desktopPhoto {
	position:absolute;
	width:100%;
	height:100%;
}




/* .red {
	background: crimson;
}

.green {
	background:MediumSeaGreen;
}

.blue {
	background:dodgerblue;
}

.pink{
	background:deepPink;
} */


/* small screen / mobile layout */
.mobileContent {
	display:none;
	width:80vw;
}

.mobilePhoto {
	/* width:80vw; */
	/* height:80vw; */
	margin-top:5em;
	/* border-radius:6vw; */
}








.header-row{
    padding:40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand-logo img{
    position: absolute;
    left: 30px;
    top: 0;
    width: 130px;
    filter: invert(100%);
    mix-blend-mode: difference;
  }
  
  .menu-toggle{
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 200;
    background: #141519;
    position: absolute;
    top: 0;
    right:0;
    padding: 20px 40px;
    border-radius: 0 0 0 20px;
  }
  
  .hamburger path{
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
  }
  
  .fullpage-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    display: none;
  }
  .fullpage-menu-inner{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 100px 60px;
    z-index: 111;
  }
  .fullpage-menu-inner .closeNav {
    --size: 3rem;
    color: #fff;
    z-index: 9999;
    cursor: pointer;
    height: var(--size);
    width: var(--size);
    position: absolute;
    top: 0;
    right: 1rem;
  }
  .menu-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 222;
  }
  .menu-bg span{
    height: 33.334%;
    width: 100%;
    background: #132a36;
    display: block;
    z-index: 222;
  }
  
  nav{
    position: relative;
    z-index: 222;
  }
  
  nav ul{
    list-style-type: none;
  }
  nav li{
    overflow: hidden;
    transition: transform 300ms ease-in-out 0s;
  }
  nav li + li{
    margin-top: 20px;
  }
  nav li a{
    font-size: 100px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    line-height: 1;
  }
  nav li:hover{
    transform: translateX(50px);
  }
  .header-nav-footer{
    position: absolute;
    z-index: 222;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
  }
  .social-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .social-links li{
    font-size: 18px;
    font-weight: 500;
  }
  .social-links li + li{
    margin-left: 16px;
  }
  .social-links li:last-child{
    margin-left: auto;
  }
  .social-links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  @media screen and (max-width:767px) {
    .header-row, .header-nav-footer{
        padding: 30px;
    }
    .fullpage-menu-inner{
        padding: 70px 30px;
    }
    nav li a{
        font-size: 54px;
    }
    .social-links li{
        font-size: 16px;
    }
  }



